.song {
  height: 60px;
  display: flex;
  align-items: center;
  user-select: none;
}

.song-cover > img {
  object-fit: contain;
  width: 60px;
}

.song-cover {
  width: 60px;
  height: 100%;
}

.song-desc {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  color: white;
}

.song-desc-artists {
  display: flex;
  align-items: center;
  color: rgb(206, 206, 206);  
}

.song-desc-artists > p {
  margin: 0px;
  font-size: 10px;
  cursor: pointer;
}

.song-desc-artists > p:hover {
  text-decoration: underline;
  color: white;
}

.songLink {
  margin: 0px;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.songLink:hover {
  text-decoration: underline;
}

.circleIcon {
  position: absolute;
  top: 0;
  margin-top: 20px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s;
}

.circleIcon:hover {
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.removeMargin { 
  margin: 0px;
}