.profile {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.profile-header {
  width: 100%;
  height: 252px;
  display: flex;
  align-items: flex-end;
  padding: 45px 0px;
  background-color: rgb(36, 36, 36);
}

.profile-header-section {
  padding: 0px 45px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.profile-songs {
  display: grid;
  width: calc(100% - 175px);
  grid-template-columns: repeat(8, 12.5%);
  grid-column-gap: 25px;
}

.profile-body {
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
}

.profile-body > h1 {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 25px;
}

.profile-body > p {
  font-size: 14px;
  color: rgb(177, 177, 177);
  margin: 0;
  margin-bottom: 10px;
}

.profile-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: calc(100% - 40px);
  margin-left: 30px;
}

.profile-information > h1 {
  font-size: 45px;
  cursor: pointer;
  user-select: none;
}

.profile-information > p {
  font-weight: 700;
  font-size: 12px;
  margin: 0;
}

.profile-detail {
  display: flex;
}

.profile-detail > p {
  margin: 0px 3px;
  font-size: 13px;
  font-weight: 700;
}
 
.profile-icon-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1000px;
}

.profile-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(72, 72, 72);
  width: 252px;
  height: 100%;
  border-radius: 1000px;
}

.followers:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 1270px) {
.profile-icon-container {
  width: 190px;
}

.profile-header-section {
  height: 190px;
}
}

@media only screen and (max-width: 1870px) {
  .profile-songs {
    width: calc(100% - 150px);
    grid-template-columns: repeat(7, 14.28%);
  }
}
@media only screen and (max-width: 1690px) {
  .profile-songs {
    width: calc(100% - 125px);
    grid-template-columns: repeat(6, 16.66%);
  }
}
@media only screen and (max-width: 1490px) {
  .profile-songs {
    width: calc(100% - 100px);
    grid-template-columns: repeat(5, 20%);
  }
}
@media only screen and (max-width: 1288px) {
  .profile-songs {
    width: calc(100% - 75px);
    grid-template-columns: repeat(4, 25%);
  }
}
@media only screen and (max-width: 1083px) {
  .profile-songs {
    width: calc(100% - 50px);
    grid-template-columns: repeat(3, 33.33%);
  }
}
@media only screen and (max-width: 848px) {
  .profile-songs {
    width: calc(100% - 25px);
    grid-template-columns: repeat(2, 50%);
  }
}

/* 1870, 1690, 1490, 1288, 1083, 848 */