.home {
  height: 200vh;
  width: calc(100vw - 232.86px);
  display: flex;
  justify-content: center;
}

.home-background {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(69,23,3,1) 0%, rgba(25,25,25,1) 46%);
  position: absolute;
  height: 100vh;
  width: 100%;
  right: 0;
}

.home-content {
  margin-top: 60px;
  z-index: 10;
}