.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  z-index: 10;
}

.home-content > h1 {
  padding: 25px 28px;
  font-size: 31px;
}

.home-content > h2 {
  padding: 25px 28px;
}

.home-playlists {
  display: flex;
  align-items: center;
  padding: 0px 28px;
}