.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-background {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(69,23,3,1) 0%, rgba(25,25,25,1) 46%);
  position: absolute;
  height: 95vh;
  width: 100%;
  top: 0;
  right: 0;
}

.home-content {
  border: 1px solid yellow;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  z-index: 10;
}

.home-content > h1 {
  padding: 25px 28px;
  font-size: 31px;
}

.home-content > h2 {
  padding: 25px 28px;
}