.navigation {
  display: flex;
  align-items: center;
  background-color: #040404;
  color: grey;
  width: 100%;
  max-width: 235px;
  font-weight: 600;
  font-size: 15px;
  border-radius:  7px;
}

.navigation:hover {
  color: white;
}

.navigation-icon {
  padding: 5px 10px 5px 15px;
}

.selected {
  color: white;
  background-color: rgb(63, 63, 63);
}