.volume {
  display: flex;
  align-items: center;
  height: 100%;
  color: rgb(158, 158, 158);
}

.queueIcon {
  margin-right: 5px;
  cursor: pointer;
}

.queueIcon:hover {
  color: white;
}

.volume-control {
  display: flex;
  align-items: center;
}

.volume-control-icon {
  margin-right: 5px;
  cursor: pointer;
  z-index: 5;
}

.volumeBar {
  width: 120px;
  cursor: pointer;
}

.colourWhite {
  color: white;
}

.backgroundGreen {
  background-color: #1db954;
}