.artist {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.artist-header {
  width: 100%;
  height: 252px;
  display: flex;
  align-items: flex-end;
  padding: 45px 0px;
  z-index: 10;
}

.artist-header-section {
  padding: 0px 45px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.artist-icon-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1000px;
}

.artist-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(72, 72, 72);
  width: 252px;
  height: 100%;
  border-radius: 1000px;
  box-shadow: 0px 13px 48px 0px rgba(0,0,0,0.75);
}

.artist-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: calc(100% - 40px);
  margin-left: 30px;
}

.artist-information > h1 {
  font-size: 45px;
  cursor: pointer;
  user-select: none;
}

.artist-information > p {
  font-weight: 700;
  font-size: 12px;
  margin: 0;
}

.artist-detail {
  display: flex;
}

.artist-detail > p {
  margin: 0px 3px;
  font-size: 13px;
  font-weight: 700;
}

.artist-body {
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.artist-body > h1 {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 25px;
}

.artist-albums {
  display: grid;
  width: calc(100% - 447px);
  grid-template-columns: repeat(8, 12.5%);
  grid-column-gap: 59px;
}

.artist-albums-item {
  height: 240px;
  margin-bottom: 70px;
}

@media only screen and (max-width: 1270px) {
  .artist-icon-container {
    width: 190px;
  }
  
  .artist-header-section {
    height: 190px;
  }
  }
  
  @media only screen and (max-width: 1870px) {
    .artist-albums {
      width: calc(100% - 388px);
      grid-template-columns: repeat(7, 14.28%);
    }
  }
  @media only screen and (max-width: 1690px) {
    .artist-albums {
      width: calc(100% - 329px);
      grid-template-columns: repeat(6, 16.66%);
    }
  }
  @media only screen and (max-width: 1490px) {
    .artist-albums {
      width: calc(100% - 270px);
      grid-template-columns: repeat(5, 20%);
    }
  }
  @media only screen and (max-width: 1288px) {
    .artist-albums {
      width: calc(100% - 211px);
      grid-template-columns: repeat(4, 25%);
    }
  }
  @media only screen and (max-width: 1083px) {
    .artist-albums {
      width: calc(100% - 152px);
      grid-template-columns: repeat(3, 33.33%);
    }
  }
  @media only screen and (max-width: 848px) {
    .artist-albums {
      width: calc(100% - 93px);
      grid-template-columns: repeat(2, 50%);
    }
  }