.yourlibrary {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.yourlibrary > h1 {
  color: white;
}

.yourlibrary-body {
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  color: white;
}