* {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
}

body {
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}